<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54277333509-clrrh9q6nrpfce93s950vbi3qb58eaa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54277333509-clrrh9q6nrpfce93s950vbi3qb58eaa8</string>
	<key>API_KEY</key>
	<string>AIzaSyAzQ8MYp7js-_KKVwAfB0LAr7XNGmhAZQE</string>
	<key>GCM_SENDER_ID</key>
	<string>54277333509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-11ae3</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-11ae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54277333509:ios:7a07a30f79b75a9144f26c</string>
</dict>
</plist>